.footer {
    margin-block: auto;
    background-color: var(--gamma);
    color: var(--delta);
    padding: 12rem;
    font-size: 13rem;
    text-align: center;

    margin-top: auto;
    
    display: flex;
    flex-direction: column;
}