.lisitng__saved_summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15rem;

    li:first-of-type {
        display: flex;
        span {
          margin-right: 10rem;
        }
    }

    li:last-of-type {
        background-color: var(--elements);
        color: var(--light);
        padding: 2rem 3rem;
        border-radius: 4rem;
        font-size: 15rem;
    }
}